.dashboardContainer {
    display: flex;
    height: 100vh;
    background-color: #f8f9fa;
    overflow: hidden; /* Scrollen verhindern */
}

.mainContent {
    flex-grow: 1;
    padding: 40px;
    background-color: white;
    margin-left: 300px; /* Platz für die Sidebar */
    height: 100vh;
    overflow-y: auto;
    padding-left: 20px;
}

.userInfo {
    margin-bottom: 20px;
}

.onlineUserCount {
    margin-bottom: 20px;
    font-size: 18px;
    color: #007bff;
}

/* ✅ Neuer Stil für CSV Upload */
.uploadSection {
    margin-top: 2rem;
    padding: 2rem;
    border: 2px dashed #ccc;
    background-color: #f0f8ff;
    text-align: center;
    border-radius: 10px;
}

.uploadSection h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #333;
}

.uploadSection input[type="file"] {
    padding: 0.5rem;
    font-size: 1rem;
}
