.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.signInCard {
    display: flex;
    width: 800px;
    background: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.sidebar {
    background: #0a1f44;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    color: white;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.mainContent {
    width: 65%;
    padding: 40px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
input, select, button {
    width: 100%; /* Gleiche Breite */
    padding: 10px; /* Gleiches Padding */
    margin: 10px 0; /* Gleicher Abstand */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Gleiche Schriftgröße */
}
.passwordContainer {
    position: relative;
}

.eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6e6e6e;
}

.submit {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.submit:hover {
    background: #0056b3;
}

.forgotPassword {
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
}

.forgotPassword:hover {
    text-decoration: underline;
}
